@import "../styles/_mixin";
.categoryBox{
    position:relative;display:inline-block;
    @include borderBox;width:100%;margin-top:5rem;padding:0 3rem;
    border-bottom:3px solid #242725;

    ul{margin:0 auto;
        display:flex;
        flex-wrap: nowrap;
        text-align:left;
    }
    .list{width:auto;height:7rem;padding:0 2rem;margin-right:1rem;overflow:hidden;border-radius:1em 1em 0 0 ;display:flex;justify-content:center;align-items:center;border:1px solid #242725;border-bottom:0;
        background-color:#242725;
        a{color:#fff;font-weight:600;font-size:2.5rem;line-height: 1.4em;display:inline-block;text-transform:capitalize;}
        &.on{background-color:rgba($color: #495c4c, $alpha: 1.0);
            
        }
    }
    
}
