@import "../styles/_mixin";
.item-list{
    position:relative;overflow:hidden;border-radius:1em;margin-top:1.3rem;
    background-color:#242725;
}
.item-list a{
    display:flex;
    flex-wrap: nowrap;
    text-align:left;
    padding:.5rem;@include borderBox;
}
.item-thumb{width:20.0rem;overflow:hidden;border-radius:1em;}
.item-info {width:calc(100% - 20rem);color:#f5f5f5;
    
    @include borderBox;padding:1.5rem;
    dt,dd{display:inline-block;width:100%;font-size:2.5rem;line-height:1.4em;}
    dt{font-size:3rem;}
}
.mark{
    position:absolute;top:0;right:0;
    i{display:inline-block;margin-left:1rem;color:#fff;line-height:1.2em;font-size:2.6rem;font-weight:bold;padding:1rem 2rem;
        &.mark-new{background-color:rgb(211, 79, 79);}
        &.mark-sell{background-color:rgb(67, 67, 77);}
    }

}