---
// import "@/styles/common.scss";
import "../styles/common.scss";

// import MetaTags from "@/components/common/MetaTags.astro";
// import Favicon from "@/components/common/Favicon.astro";
// import Analytics from "@/components/common/Analytics.astro";
// import BasicScripts from "@/components/common/BasicScripts.astro";

// import Header from "@/components/common/Header.astro";
// import Footer from "@/components/common/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <MetaTags />
    <Favicon />
    <Analytics /> -->
  </head>
  <body>
    <div class="site-info">
      <!-- <h1>{t("metaTitle")}</h1>
      <p>{t("metaDescription")}</p> -->
    </div>
    <div class="wrap" id="wrap">
      <!-- <Header title={"Kim's Shop"} /> -->

      <slot />

      <!-- <Footer /> -->
    </div>
    <!-- <BasicScripts /> -->
  </body>
</html>
